/* Content First - Mobile First */
    /* Importaciones */

    /* Declaraciones */

    /* Reglas Generales */

    /* Cabecera */

    /* Navegacion */

    /* Contenido */

    /* Pie de Pagina */
.red-social a{
        color: rgb(247, 247, 248);
         display: inline-block;
         text-decoration: none;
         width: 45px;
         height: 45px;
         line-height: 45px;
         background-color: black;
         text-align: center;
     }
/* Small Devices - Smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large Devices - Desktop */

/* Extra Extra Large Devices - HD Desktop */
